export REQUIRED_AWS_PROFILE=aws100demo1
export AWS_PROFILE=aws100demo1
export EXPECTED_AWS_ACCOUNT_ID=194031983377
export EXPECTED_AWS_REGION=us-east-1
export AWS_REGION=us-east-1
export STRICT_AWS_CONTEXT=1
